<div>
    <h2>Employee Details</h2>
    <table style="margin-left:20px">
      <tr>
        <td>ID:</td>
        <td>{{employee.id}}</td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>{{employee.name}}</td>
      </tr>
      <tr>
        <td>Manufacturer:</td>
        <td>{{employee.manufacturer}}</td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>{{employee.type}}</td>
      </tr>
      <tr>
        <td>Batch Number:</td>
        <td>{{employee.batchno}}</td>
      </tr>
      <tr>
          <td>Expiry Date:</td>
          <td>{{employee.expdate}}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{employee.price}}</td>
          </tr>
    </table>
    <button (click)="goBack()">Back</button>
</div>
